* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Exa', sans-serif;
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

header h1 {
    margin: 50px 0 20px 0;
    text-align: center;
    padding: 2rem;
    background: black;
    font-size: 40px;
}

header p {
    font-size: 25px;
    color: black;
}

.pads {
    background: transparent;
    width: 70vw;
    box-shadow: 8px 15px 25px 2px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pad-top,
.pad-bottom {
    display: flex;
}

.pad-top>div,
.pad-bottom>div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad {
    transition: all 0.1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.pad:active,
.pad:focus {
    transform: translateY(3px);
    box-shadow: 4px 5px 10px 6px inset rgba(0,0,0,0.2);
}

.pad:hover {
    cursor: pointer;
    box-shadow: 2px 3px 6px 2px inset rgba(0,0,0,0.1);
}

.pad1 {
    background: #26de81;
}

.pad2 {
    background: #fc5c65;
}

.pad3 {
    background: #a55eea;
}

.pad4 {
    background: #fed330;
}

.pad5 {
    background: #4b7bec;
}

.pad6 {
    background: #0fb9b1;
}

@media (max-width: 480px) {
    header h1 {
        font-size: 35px;
    }

    header p {
        font-size: 16px;
    }

    .pads {
        margin-bottom: 100px;
    }
}